{% extends 'admin/admin/base.html.twig' %}
{% block title %} {{ title }}{% endblock %}
{% block body %}
<h1>New Setting</h1>
<hr>
<div class="x_content">

    {{ include('admin/setting/_form.html.twig') }}
</div>
{% endblock %}
