<div class="" style="padding: 15px 50px; border-bottom: 1px rgba(0, 0, 0, 0.2) solid;">
    <ul>
        <li class="d-inline" style="padding: 10px 20px;"><h4 class="d-inline"><a href="{{ path('home_user_profile') }}"><u>Profile</u></a></h4></li>
        <li class="d-inline" style="padding: 10px 20px;"><h4 class="d-inline"><a href="{{ path('home_userpost_index') }}"><u>Posts</u></a></h4></li>
        <li class="d-inline" style="padding: 10px 20px;"><h4 class="d-inline"><a href="{{ path('home_usercomment_index') }}"><u>Comments</u></a></h4></li>
    </ul>
</div>